In [1]:
from language_learning_tools.grouping.vocab_grouping import \
    get_hangul_parts, \
    group_lang_df_by_parts, \
    get_hangul_hanja_tuples
import pandas as pd

INPUT_CSV_PATH = '../input_generated_files/english_hangul_hanja_tups_to_memorize.csv'
OUTPUT_CSV_PATH = '../output/tups_grouped_by_hangul_hanja.csv'
ENGLISH_COL_NAME = 'English_translation'
KOREAN_COL_NAME = 'hangul_word'
HANJA_COL_NAME = 'hanja_word_with_x'

HANJA_HANGUL_TUPLE = 'hangul_hanja_tuple'
HANJA_HANGUL_CHAR_TUPLE = 'hangul_hanja_char_tuple'

HANJA_CHAR_COL_NAME = 'hanja_char'

HANJA_PARTS_COL_NAME = 'hanja_parts'

eng_kor_df = pd.read_csv(INPUT_CSV_PATH)

eng_kor_df[HANJA_HANGUL_TUPLE] = eng_kor_df.apply(lambda row: (row[KOREAN_COL_NAME], row[HANJA_COL_NAME]), axis=1)

hanja_chars_output_df = group_lang_df_by_parts(
    eng_kor_df,
    HANJA_HANGUL_TUPLE,
    get_hangul_hanja_tuples,
    HANJA_HANGUL_CHAR_TUPLE,
    [KOREAN_COL_NAME, HANJA_COL_NAME, ENGLISH_COL_NAME])

hanja_chars_output_df['hangul_char'] = hanja_chars_output_df['hangul_hanja_char_tuple'].apply(lambda x: x[0])
hanja_chars_output_df['hanja_char'] = hanja_chars_output_df['hangul_hanja_char_tuple'].apply(lambda x: x[1])

/Users/zacharydestefano/git/language_learning/src/language_learning_tools/grouping/vocab_grouping.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parts_in_multiple_words[num_parts_col_name].apply(lambda x: int(x))

In [3]:
hanja_chars_output_df.head(30)

,index,hangul_word,English_translation,hanja_word_with_x,hangul_hanja_tuple,hangul_hanja_char_tuple,hangul_hanja_tuple_num_parts,hangul_char,hanja_char
0,72,할아버지,grandfather,X,"(할아버지, X)","(아, X)",19,아,X
1,88,피아노,piano,X,"(피아노, X)","(아, X)",19,아,X
2,168,좋아하다,to like,X,"(좋아하다, X)","(아, X)",19,아,X
3,286,아홉,nine,X,"(아홉, X)","(아, X)",19,아,X
4,287,아프리카,Africa,X,"(아프리카, X)","(아, X)",19,아,X
5,25,아프다,to be hurting / ill / in pain / hurt,X,"(아프다, X)","(아, X)",19,아,X
6,288,아침,morning,X,"(아침, X)","(아, X)",19,아,X
7,289,아직,"(not) yet, still",X,"(아직, X)","(아, X)",19,아,X
8,26,아주,very / quite,X,"(아주, X)","(아, X)",19,아,X
9,290,아이스크림,ice cream,X,"(아이스크림, X)","(아, X)",19,아,X
10,291,아이,child,X,"(아이, X)","(아, X)",19,아,X
11,292,아버지,father,X,"(아버지, X)","(아, X)",19,아,X
12,293,아래,under / below,X,"(아래, X)","(아, X)",19,아,X
13,294,아들,son,X,"(아들, X)","(아, X)",19,아,X
14,295,아내,wife,X,"(아내, X)","(아, X)",19,아,X
15,296,아까,"earlier (today), a while ago (today)",X,"(아까, X)","(아, X)",19,아,X
16,297,아기,baby,X,"(아기, X)","(아, X)",19,아,X
17,424,말레이시아,Malaysia,X,"(말레이시아, X)","(아, X)",19,아,X
18,551,갈아타다,to transfer,X,"(갈아타다, X)","(아, X)",19,아,X
19,114,케이크,cake,X,"(케이크, X)","(이, X)",17,이,X
20,202,이야기하다,to talk,X,"(이야기하다, X)","(이, X)",17,이,X
21,203,이상하다,to be strange,X,"(이상하다, X)","(이, X)",17,이,X
22,204,이분,this person (honorific),X,"(이분, X)","(이, X)",17,이,X
23,205,이번,this time,X,"(이번, X)","(이, X)",17,이,X
24,206,이메일,e-mail,X,"(이메일, X)","(이, X)",17,이,X
25,207,이름,name,X,"(이름, X)","(이, X)",17,이,X
26,208,이렇게,like this /in this way,X,"(이렇게, X)","(이, X)",17,이,X
27,209,이거,this (one),X,"(이거, X)","(이, X)",17,이,X
28,17,이,this | two,X,"(이, X)","(이, X)",17,이,X
29,290,아이스크림,ice cream,X,"(아이스크림, X)","(이, X)",17,이,X

In [4]:
rank_df = hanja_chars_output_df[['hangul_hanja_char_tuple', 'hangul_hanja_tuple_num_parts']].drop_duplicates()

In [5]:
rank_df[rank_col_name] = rank_df[num_parts_col_name].rank(method='min').apply(lambda x: int(x))

    hangul_hanja_char_tuple  hangul_hanja_tuple_num_parts
0                    (아, X)                            19
19                   (이, X)                            17
36                   (일, 日)                            15
51                   (리, X)                            15
66                   (어, X)                            12
..                      ...                           ...
744                  (구, X)                             2
746                  (공, 工)                             2
748                  (결, 結)                             2
750                  (개, X)                             2
752                  (간, 間)                             2

[217 rows x 2 columns]

In [ ]:
hangul_hanja_out_df = hanja_chars_output_df[
    ['hangul_char',
     'hanja_char',
     KOREAN_COL_NAME,
     HANJA_COL_NAME,
     ENGLISH_COL_NAME]
]

In [10]:
hanja_chars_output_df

,hangul_hanja_char_tuple,hangul_word,hanja_word_with_x,English_translation,hangul_char,hanja_char
72,"(아, X)",할아버지,X,grandfather,아,X
88,"(아, X)",피아노,X,piano,아,X
168,"(아, X)",좋아하다,X,to like,아,X
286,"(아, X)",아홉,X,nine,아,X
287,"(아, X)",아프리카,X,Africa,아,X
...,...,...,...,...,...,...
543,"(결, 結)",결혼,結婚,marriage,결,結
154,"(개, X)",지우개,X,eraser,개,X
548,"(개, X)",개,X,counting unit for general items,개,X
317,"(간, 間)",시간표,時間表,time table,간,間
318,"(간, 間)",시간,時間,hour,간,間

,hangul_hanja_char_tuple,hangul_word,hanja_word_with_x,English_translation,hangul_char,hanja_char,rank
72,"(아, X)",할아버지,X,grandfather,아,X,412.0
88,"(아, X)",피아노,X,piano,아,X,412.0
168,"(아, X)",좋아하다,X,to like,아,X,412.0
286,"(아, X)",아홉,X,nine,아,X,412.0
287,"(아, X)",아프리카,X,Africa,아,X,412.0
...,...,...,...,...,...,...,...
543,"(결, 結)",결혼,結婚,marriage,결,結,20.0
154,"(개, X)",지우개,X,eraser,개,X,10.0
548,"(개, X)",개,X,counting unit for general items,개,X,10.0
317,"(간, 間)",시간표,時間表,time table,간,間,8.0
318,"(간, 間)",시간,時間,hour,간,間,8.0

In [24]:
hangul_hanja_out_df_with_rank

,hangul_char,hanja_char,hangul_word,hanja_word_with_x,English_translation,hangul_rank,hanja_rank
72,아,X,할아버지,X,grandfather,0,0
88,아,X,피아노,X,piano,0,0
168,아,X,좋아하다,X,to like,0,0
286,아,X,아홉,X,nine,0,0
287,아,X,아프리카,X,Africa,0,0
...,...,...,...,...,...,...,...
543,결,結,결혼,結婚,marriage,171,79
154,개,X,지우개,X,eraser,172,0
548,개,X,개,X,counting unit for general items,172,0
317,간,間,시간표,時間表,time table,173,80
318,간,間,시간,時間,hour,173,80

In [ ]:
hangul_hanja_out_df.to_csv(OUTPUT_CSV_PATH, index=False)